* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "PT Sans Caption", sans-serif;
  color: #364844;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: o;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.wrapper {
  font-size: 16px;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  box-sizing: content-box;
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.register {
  border-radius: 50px;
  background: #0DBC91;
  padding: 11px 24px;
  color: white;
  font-size: 14px;
  line-height: 21px;
  transition: background 0.4s ease;
}
.register:hover {
  background: #00D29F;
}

._active {
  left: 0 !important;
}

.popup-open {
  opacity: 1 !important;
  visibility: visible !important;
}

._error {
  box-shadow: 0 0 15px red;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(69, 146, 127, 0.8980392157);
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: white;
  border-radius: 10px;
  max-width: 800px;
  padding: 30px;
  position: relative;
}
.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.popup__item_name {
  font-size: 16px;
  margin-bottom: 15px;
}
.popup__item_input {
  border: 1px solid rgba(69, 146, 127, 0.8980392157);
  border-radius: 10px;
  font-size: 18px;
  padding: 3px 15px;
}

.header__about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.header__left-side {
  display: flex;
}
.header__city-media {
  font-size: 13px;
  text-align: right;
}

@media (min-width: 767px) {
  .header__about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
  }
  .header__logo {
    padding-right: 20px;
  }
  .header__location {
    display: flex;
    font-size: 14px;
    line-height: 21px;
  }
  .header__location svg {
    padding-right: 4px;
  }
  .header__location-adress-street {
    color: #868686;
  }
  .header__right-side {
    display: flex;
  }
  .header__right-side .header__city-media {
    display: none;
  }
  .header__right-side .header__number {
    display: flex;
    align-items: center;
    margin-right: 35px;
  }
  .header__right-side .header__number img {
    margin-right: 10px;
  }
  .menu {
    background: #1FA181;
  }
  .menu__list {
    display: flex;
    gap: 30px;
    line-height: 24px;
  }
  .menu__list_item {
    padding: 10px 0;
  }
  .menu__list_item a {
    color: white;
  }
}
@media (max-width: 767px) {
  .header .menu__icon {
    display: block;
    width: 37px;
    height: 26px;
    cursor: pointer;
    position: relative;
    margin-right: 45px;
  }
  .header .menu__icon span {
    top: 50%;
    transform: translate(0px, -50%);
  }
  .header .menu__icon::after, .header .menu__icon::before,
  .header .menu__icon span {
    position: absolute;
    left: 0;
    height: 17%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #1FA181;
  }
  .header .menu__icon::after, .header .menu__icon::before {
    content: "";
  }
  .header .menu__icon::after {
    bottom: 0;
  }
  .header .menu__icon::before {
    top: 0;
  }
  .header__logo {
    max-width: 62px;
  }
  .header__location svg {
    display: none;
  }
  .header__location-adress {
    display: none;
  }
  .header__right-side {
    display: block;
  }
  .header__right-side button {
    display: none;
  }
  .header__number img {
    display: none;
  }
  .header__number p {
    font-weight: 700;
  }
  .header .menu {
    display: none;
  }
}
.main {
  flex: 1 1 auto;
}
.main .about {
  background: #F8FBFA;
  margin-bottom: 100px;
}
.main .about__content {
  flex: 0 0 100%;
  display: flex;
  padding-right: 15px;
}
.main .about__conteiner {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.main .about__title {
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 15px 0;
  text-wrap: balance;
  line-height: 130%;
}
.main .about__text {
  line-height: 150%;
  text-wrap: balance;
}
.main .about__image img {
  max-width: 100%;
}
.main .check-up {
  margin-bottom: 40px;
}
.main .check-up__body {
  display: flex;
}
.main .check-up__content {
  padding: 9.3% 0 0 11.05%;
}
.main .check-up__info {
  background: url("../images/bg.png");
  background-size: 100% 100%;
  z-index: 1;
  flex: 0 0 50%;
}
.main .check-up__info_title {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}
.main .check-up__info_subtitle {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.main .check-up__info_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 33px;
  padding-left: 15px;
}
.main .check-up__info_item {
  position: relative;
}
.main .check-up__info_item::after {
  content: "";
  position: absolute;
  left: -15px;
  top: 5px;
  width: 7px;
  height: 7px;
  background-color: #1FA181;
  border-radius: 50%;
}
.main .check-up__info_price {
  font-size: 20px;
  margin-bottom: 26px;
}
.main .check-up__info_price span {
  line-height: 150%;
  text-decoration-line: line-through;
  color: #868686;
  font-size: 16px;
  padding-left: 15px;
}
.main .check-up__info_register {
  padding: 11px 58px;
  margin-right: 15px;
}
.main .check-up__info_more {
  color: #0DBC91;
  padding: 11px 58px;
  font-size: 14px;
  line-height: 150%;
  border-radius: 50px;
  border: 1px solid #0DBC91;
  background-color: transparent;
}
.main .check-up_img img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .main__menu {
    position: absolute;
    left: -100%;
  }
  .about {
    display: flex;
  }
  .about__body {
    width: 50%;
  }
  .about__image {
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
    padding: 0 0 28.419%;
  }
  .about__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .check-up .check-up__info_item {
    max-width: 80%;
  }
  .check-up__img {
    position: relative;
    flex: 0 0 60.7%;
    padding: 0 0 38.6%;
    transform: translate(-18%, 0px);
  }
  .check-up__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media (max-width: 767px) {
  .main {
    position: relative;
  }
  .main__menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -100%;
    background-color: rgba(69, 146, 127, 0.8980392157);
    transition: all 0.5s ease 0s;
    z-index: 100;
  }
  .main__menu_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 48px;
  }
  .main__menu_item {
    line-height: 150%;
  }
  .main__menu_item a {
    color: white;
  }
  .main__menu_button {
    background-color: #F6F6F6;
    color: #1FA181;
    margin-top: 40px;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .about__content {
    order: 2;
  }
  .about__image {
    order: 1;
    margin-bottom: 35px;
  }
  .about__body .about__title {
    font-size: 26px;
  }
  .about__body .about__text {
    font-size: 14px;
    padding-bottom: 53px;
  }
  .check-up__body {
    flex-direction: column;
  }
  .check-up .check-up__info {
    background-color: #E2F0EF;
    display: flex;
    flex-direction: column;
    order: 2;
  }
  .check-up .check-up__info_title {
    font-size: 26px;
  }
  .check-up .check-up__info_subtitle {
    font-size: 14px;
  }
  .check-up .check-up__info_item {
    font-size: 14px;
  }
  .check-up .check-up__info_buttons {
    margin-bottom: 42px;
  }
  .check-up .check-up__info_register {
    margin: 0 5px 5px 0;
  }
  .check-up__content {
    padding: 22px !important;
  }
  .check-up__img {
    order: 1;
  }
  .check-up__img img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .check-up__info_buttons button {
    padding: 11px 23px !important;
  }
  .check-up__info_buttons .check-up__info_register {
    margin-right: 5px;
  }
}
.footer {
  background: #08664F;
}
.footer__content {
  display: flex;
}
.footer__logo {
  order: 1;
}
.footer__menu {
  order: 3;
  line-height: 24px;
}
.footer__menu_item a {
  color: white;
}
.footer__widgets {
  order: 3;
}

@media (min-width: 810px) {
  .footer__content {
    min-height: 140px;
    justify-content: space-between;
    align-items: center;
  }
  .footer__menu {
    display: flex;
    gap: 30px;
    margin-right: -40px;
  }
  .footer__widgets {
    display: flex;
    gap: 15px;
  }
}
@media (max-width: 819px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    padding: 42px 0 0 0;
  }
  .footer__logo {
    order: 1;
  }
  .footer__menu {
    order: 3;
    padding: 30px 0;
  }
  .footer__menu_item {
    font-size: 14px;
    line-height: normal;
    padding-bottom: 15px;
  }
  .footer__widgets {
    order: 2;
    display: flex;
    margin: -30px 0px 0 calc(100% - 112px);
    gap: 20px;
  }
  .footer__widgets img {
    width: 24px;
  }
}/*# sourceMappingURL=index.css.map */